$aquaOscuro: #057872;


@mixin  margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    background-color: $aquaOscuro;
    color: white;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $aquaOscuro;
    @include margenes(20px, 0px);
    color: white;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-addess-icon{
    padding-right: 10px;
}

.img-tarjeta{
    width: 100px;
    height: 100px;
}

.img-carrusel{
    width: 80px;
    height: 200px;
}

.tab-content{
    padding-top: 10px;
}