.jumbotron {
  background-color: #057872;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #057872;
  margin-top: 20px;
  margin-bottom: 0px;
  color: white;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 20px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addess-icon {
  padding-right: 10px;
}
.img-tarjeta {
  width: 100px;
  height: 100px;
}
.img-carrusel {
  width: 80px;
  height: 200px;
}
.tab-content {
  padding-top: 10px;
}
